http://client.happyflowlogistics.com {
  reverse_proxy https://v5.mintsoft.co.uk {
    transport http {
      resolvers 1.1.1.1
      dial_timeout 3s
      tls_insecure_skip_verify
      keepalive off
    }
    header_up Host client.happyflowlogistics.com
    header_up X-Forwarded-Host client.happyflowlogistics.com

    @upstream_error status 5xx
    handle_response @upstream_error {
      respond "Proxy ({env.FLY_REGION}/{env.FLY_MACHINE_ID}) got your request, but the backend did not work. Got: {rp.status_code} with message: {rp.status_text}" {rp.status_code}
    }
  }

  handle_errors {
    respond "Proxy ({env.FLY_REGION}/{env.FLY_MACHINE_ID}) got your request, but the backend did not work. Got: {err.status_code} with message: {err.message}" {err.status_code}
  }
}

http://hfl-proxy-client.fly.dev {
  header X-Fly-Region {env.FLY_REGION}
  respond "Hello from {env.FLY_REGION}!" 200
}

http://client.hfl.felip.se {
  reverse_proxy https://v5.mintsoft.co.uk {
    transport http {
      resolvers 1.1.1.1
      dial_timeout 3s
      tls_insecure_skip_verify
      keepalive off
    }
    header_up Host client.happyflowlogistics.com
    header_up X-Forwarded-Host client.happyflowlogistics.com

    @upstream_error status 5xx
    handle_response @upstream_error {
      respond "Proxy ({env.FLY_REGION}/{env.FLY_MACHINE_ID}) got your request, but the backend did not work. Got: {rp.status_code} with message: {rp.status_text}" {rp.status_code}
    }
  }

  handle_errors {
    respond "Proxy ({env.FLY_REGION}/{env.FLY_MACHINE_ID}) got your request, but the backend did not work. Got: {err.status_code} with message: {err.message}" {err.status_code}
  }
}
